@import 'root';
@import 'functions';
@import 'mixins';

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);   
}

main {
    @include websitegrid(grid, repeat(12, 1fr), 16px);
    min-height: 100vh;
}

/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+- HEADER AND NAV +-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

header {

    input{
        position:fixed;
        width: calc(100vw/13);
        height: 3.5vh;
        left: -0.2vw;
        top: 6vh;
        z-index: 7;
        opacity: 0;
        cursor: pointer;

        &:not(:checked) +.navigation_container .menu_container .menu_button .burger_lines{
            position: relative;
            transition: all 0.5s ease-in-out;

            &:nth-child(3){
                top: 0;
            }
        }

        &:checked +.navigation_container .menu_container .menu_button .burger_lines{
            position: relative;
            transition: all 0.5s ease-in-out;

            &:nth-child(1){
                opacity: 0;
            }
            &:nth-child(2){
                transform: rotate(45deg);
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                top: -8px;
            }
        }

        &:not(:checked):hover + .navigation_container .menu_container .menu_button {
            .burger_lines:nth-child(1){
                left: 2px;
            }
            .burger_lines:nth-child(2){
                left: -5px;
            }
            .burger_lines:nth-child(3){
                left: 5px;
            }
        }

        &:checked + .navigation_container .nav_list_container{
            visibility: visible;
            opacity: 1;
        }
    }

    .navigation_container {
        
        .menu_container{
            background-color: var(--header-container-color);
            width: calc(100vw/13);
            height: 100vh;
            position: fixed;
            z-index: var(--header-z-index);
            @include centertext(center, center);
            flex-direction: column;
            user-select: none;

            .menu_button {
                background: none;
                border: none;
                pointer-events: none;
    
                .burger_lines {
                    display: block;
                    width: 30px;
                    height: 5px;
                    background-color: var(--header-burger-color);
                    border-radius: 6px;
                    margin-bottom: 4px;
                    position: relative;
    
    
                    &:nth-child(1) {
                        left: 0;
                    }
                    &:nth-child(2) {
                        left: 0;
                    }
                    &:nth-child(3) {
                        left: 0;
                    }
                }
            }
        }
        

        h1 {
            text-transform: uppercase;
            font-size: var(--header-business-name-font-size);
            writing-mode: vertical-rl;
            text-orientation: upright;
            color: white;
        }

        .nav_list_container {
            width: 100vw;
            height: 100vh;
            background-color: var(--nav-background-color);
            position: fixed;
            z-index: var(--nav-z-index);
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease-in-out;

            .grid_container {
                @include websitegrid(grid, repeat(12, 1fr), 0);
                height: 100vh; 

                ul{
                    grid-column: span 11/13;
                    @include normalizeul;
                    @include centertext(center, center);
                    flex-direction: column;

                    .list_content{
                        font-size: var(--nav-font-size);
                        text-transform: uppercase;
                        color: var(--nav-text-color);
                        line-height: 2;

                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        
    }
}


/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+- PAGE CONTAINER +-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.page_container {
    grid-column: span 11 / 13;
    padding: 0 16px 0 0;
    z-index: var(--main-content-z-index);

    // ----------------1<-------------[ PAGE ONE ]------------------

    .page_one {

        .top_container, .bottom_container {
            @include websitegrid(grid, repeat(11, 1fr), 0);
            gap: 16px;
        }

        .top_container {
            min-height: 50vh;
            background-color: var(--page-one-container-black);

            .logo_container {
                grid-column: span 4;

                .logo {
                    text-transform: uppercase;
                    text-align: right;
                    padding: 0px 45px 0px 0px;  
                    @include centralizer(relative);

                    .drizzle_text {
                        @include logospecs(5vh, 1.7, var(--text-color-rich-lilac), relative, 0vh, -0.6vh, var(--main-content-z-index))
                    }
                    .tahini_text {
                        @include logospecs(17vh, 0.45, var(--text-color-green), relative, 0vh, 0vh, var(--main-content-z-index))
                    }
                    .chickpeas_text {
                        @include logospecs(6.5vh, 1.1, var(--text-color-yellow), relative, 0vh, -12.5vh, var(--logo-extra-z-index))
                    }
                }
            }

            .text_container {
                grid-column: span 7;
                @include textspecs(var(--text-color-green), var(--page-article-font-size), 16px);
                @include centertext(center, center);
            } 

        }

        .bottom_container {
            min-height: 50vh;

            .icon_container {
                background-color: var(--page-one-container-black);
                grid-column: span 5;
                background-image: url(../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                
                &:hover {
                    cursor: pointer;
                    .arrow {
                        bottom: 26px;
                    }
                }

                .arrow {
                    transform: rotate(90deg);
                    position: absolute;
                    bottom: 36px;
                    left: 27px;
                    transition: bottom 0.4s;
                }

                
            }

            .text_container {
                background-color: var(--page-one-container-white);
                grid-column: span 6;
                @include textspecs(var(--text-color-rich-lilac), var(--page-article-font-size), 16px);
                .explore_menu_section{
                    text-transform: uppercase;
                    
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    img {
                        display: inline-block;
                    }
                }
            }  
        }
    
    }

    // ----------------2<-------------[ PAGE TWO ]------------------

    .page_two {
        padding: 16px 0px 16px 0px;

        .top_container, .bottom_container {
            @include websitegrid(grid, repeat(11, 1fr), 16px);
        }
        
        .top_container {
            height: 50vh;
            margin-bottom: 16px;

            .first_menu_photo {
                @include backgroundurl(url(../assets/photos/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 3;
            }
            .second_menu_photo {
                @include backgroundurl(url(../assets/photos/kao-rodriguez-IeTzHiuepmU-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 4;
            }
            .third_menu_photo {
                @include backgroundurl(url(../assets/photos/mor-shani-kQloRmVQYIs-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 4;
            }
        }

        .bottom_container {
            min-height: 50vh;

            .menu_list {
                margin: 0;
                padding: 0; 
                list-style-type: none;
                grid-column: span 11;

                .menu_list_block {
                    @include websitegrid(grid, repeat(11, 1fr), 16px);
                    padding: 8px;
                    background-color: white;
                    border-bottom: remfunction(3) solid black;
                    border-top: remfunction(3) solid black;
                    margin: 0 0 10px 0;


                    .menu_list_item_name {
                        grid-column: span 4;
                        font-size: var(--menu-list-name-price-font-size);
                        text-transform: uppercase;
                        @include centertext(none, center);
                        
                        .label_box_content_new {
                            @include labelbox(var(--menu-label-color-rich-lilac), inline-flex, rotate(4deg), 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_new {
                                @include labeltext(var(--menu-label-font-size), rotate(354deg));
                                @include centertext(center, none);
                                width: 100%;  
                           }
                        }

                        .label_box_content_vegan {
                            @include labelbox(var(--menu-label-color-green), inline-flex, rotate(355deg), 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_vegan {
                                @include labeltext(var(--menu-label-font-size), rotate(3deg));
                                @include centertext(center, none);
                                width: 100%;   
                           }
                        }

                        .label_box_content_popular {
                            @include labelbox(var(--menu-label-color-yellow), inline-flex, none, 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_popular {
                                @include labeltext(var(--menu-label-font-size), none);
                                @include centertext(center, none);
                                width: 100%;    
                           }
                        }
                    }

                    .menu_list_item_desc {
                        font-family: var(--secondary-font);
                        font-size: var(--menu-list-desc-font-size);
                        grid-column: span 6;
                        @include centertext(none, center);
                    }

                    .menu_list_item_price {
                        grid-column: span 1;
                        font-size: var(--menu-list-name-price-font-size);
                        text-align: right;
                    }
                }
            }
        }
    }
}

/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+- FOOTER +-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

footer {
    @include websitegrid(grid, repeat(12, 1fr), 16px);
    min-height: 100vh;
    background-color: white;

    .container {
        grid-column: span 11 / 13;
        background-color: var(--footer-color-green);

        @include websitegrid(grid, repeat(11, 1fr), 16px);

        // ----------------1<-------------[ LEFT SIDE ]------------------
        .left_container {
            grid-column: span 5;
            @include centertext(center, center);

            .book_table_container {
                width: 42vw;
                height: 75vh;

                ul {
                    @include normalizeul;
                    margin: 0 0 0 16px;
                    padding: 0 remfunction(51) 0 0;

                    li {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 remfunction(35) 0;

                        .head_title {
                            font-size: var(--footer-title-font-size);
                            font-weight: normal;
                            text-transform: uppercase;
                        }

                        .title_container {
                            width: 32%;
                            font-size: var(--footer-under-text-font-size);
                            text-transform: uppercase;
                        }

                        .input_container {
                            width: 90%;
                            border: none;
                            border-radius: remfunction(16);
                            padding: 0 remfunction(16) 0 remfunction(16);

                            &:focus {
                                outline: none;
                            }
                        }

                        .dropdown_icon {
                            appearance: none;
                            background-image: url(../assets/icons/dropdown_icon.svg);
                            background-repeat: no-repeat;
                            background-position: right 1rem center;
                            background-size: 1.2em;
                        }

                        .cancel_button, .request_button {
                            width: 50%;
                            border: none;
                            border-radius: remfunction(16);
                            text-transform: uppercase;
                            font-size: var(--footer-under-text-font-size);
                            cursor: pointer;
                        }

                        .cancel_button {
                            background-color: var(--footer-cancel-button-color);
                            margin: 0 16px 0 0;
                        }
                        .request_button {
                            background-color: var(--footer-request-button-color);
                        }

                    }
                }

            }
        }

        // ----------------2<-------------[ RIGHT SIDE ]------------------
        .right_container {
            grid-column: span 6;
            @include centertext(center, center);

            .contact_info {
                width: 42vw;
                height: 75vh;
                position: relative;
                
                .background_image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include backgroundurl(url('../assets/photos/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg'), cover, no-repeat, center center);
                    filter: blur(3px);
                }

                .info {
                    width: 100%;
                    height: 100%;
                    @include centralizer(relative);
                    @include centertext(center, center);
                    // padding: 3vh; 
                    
                    ul {
                        @include normalizeul;

                        li {
                            color: var(--footer-contact-info-text-color); 
                            filter: drop-shadow(-4px -1px 0px #000000);
                            display: inline-block;
                            width: 100%;
                            margin: 0 0 29px 0;
                            @include centertext(none, center);

                            .info_icon {
                                font-size: var(--footer-contact-info-icons-size);
                                display: inline-block;
                                margin: 0 10px 0 0;
                            }

                            .text {
                                font-size: var(--footer-contact-info-text-font-size)
                            }
                        }
                    }
                }
            }
        }
    }

}

/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+  COOKIE -+-+-+-+-+-+-+-+-+-+-+-+--+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.cookie_container {
    width: 100vw;
    height: 12vh;
    bottom: 0;
    left: 0;
    background-color: var(--cookie-container-color);
    position: fixed;
    z-index: var(--cookie-z-index);
    @include centertext(center, center);
    @include websitegrid(grid, repeat(12, 1fr), 16px);

    .content {
        grid-column: span 6 / 8;
        font-family: var(--secondary-font);
        font-size: var(--cookie-content-size);
        color: var(--cookie-content-color);
    }
    .cookie_buttons {
        grid-column: span 5 / 13;
        gap: 16px;
        height: 100%;
        @include centertext(center, center);

        button{
            &:nth-child(1), &:nth-child(2){
                width: 30%;
                border: none;
                border-radius: remfunction(16);
                text-transform: uppercase;
                font-size: var(--cookie-button-text-size); 
                cursor: pointer;      
                user-select: none;      
            }

            &:nth-child(1) {
                background-color: var(--cookie-decline-color);
            }
            &:nth-child(2) {
                background-color: var(--cookie-accept-color);
            }
        }
    }


}

