:root {
    --main-font: 'Jockey One', 'Roboto Condensed', sans-serif;
    --secondary-font: 'Roboto Condensed', serif;
    --main-bg-color: #FFF136;
    --nav-container-color: black;
    --nav-font-size: 5vh;
    --page-one-container-black: black;
    --page-one-container-white: white;
    --page-article-font-size: 5vh;
    --text-color-green: #00ff38;
    --text-color-rich-lilac : #b46be2;
    --text-color-yellow: #FFF136;
    --menu-list-name-price-font-size: 5vh;
    --menu-list-desc-font-size: 3vh; 
    --menu-label-font-size: 1.7vh;
    --menu-label-color-green: #00ff38;
    --menu-label-color-rich-lilac : #b46be2;
    --menu-label-color-yellow: #FFF136;
    --footer-color-green: #00ff38;
    --footer-title-font-size: 4.5vw;
    --footer-under-text-font-size: 3vw;
    --footer-input-text-font-size: 2vw;
    --footer-cancel-button-color: #b46be2;
    --footer-request-button-color: #FFF136;
    --footer-contact-info-icons-size: 4.5vw;
    --footer-contact-info-text-font-size: 2.2vw;
    --footer-contact-info-text-color: #3cc1ee;
}

// Function to covert px to rem
@function remfunction($sizeinpx){
    @return calc($sizeinpx / 16) * 1rem;
}

@mixin centertext($justifycontentvalue, $alignitemsvalue) {
    display: flex;
    @if $justifycontentvalue != none {
        justify-content: $justifycontentvalue;
    }
    @if $alignitemsvalue != none{
        align-items: $alignitemsvalue;
    }
}
@mixin centralizer {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin textspecs($textcolor, $textsize, $paddingvalue) {
    color: $textcolor;
    font-size: $textsize;
    padding: $paddingvalue;
}
@mixin logospecs($fontsizevalue, $lineheightvalue, $textvalue, $positionvalue, $topvalue, $leftvalue, $zvalue){
    font-size: $fontsizevalue;
    line-height: $lineheightvalue;
    color: $textvalue;
    position: $positionvalue;
    top: $topvalue;
    left: $leftvalue;
    z-index: $zvalue;
}
@mixin backgroundurl ($Backgroundimageurl, $Backgroundsizevalue, $Backgroundrepeatvalue, $Backgroundpositionvalue){
    background-image: $Backgroundimageurl;
    background-size: $Backgroundsizevalue;
    background-repeat: $Backgroundrepeatvalue;
    background-position: $Backgroundpositionvalue;
}
@mixin menulabelbox ($backgroundcolor, $blockrotation, $blockpadding){
    display: inline-block;
    background-color: $backgroundcolor;
    transform: $blockrotation;
    padding: $blockpadding;
}
@mixin websitegrip ($gridtemplatecolumsvalue, $gapvalue){
    display: grid;
    grid-template-columns: $gridtemplatecolumsvalue;
    @if $gapvalue != 0{
        gap: $gapvalue;
    }
}
@mixin labelbox ($backgroundcolor, $displayvalue, $transformvalue, $marginvalue){
    background-color: $backgroundcolor;
    display: $displayvalue;
    @if $transformvalue != none{
        transform: $transformvalue;
    }
    @if $marginvalue != 0 {
        margin: $marginvalue;
    }
    width: 80px;
}
@mixin labeltext ($fontsizevalue, $transformvalue){
    font-size: $fontsizevalue;
    @if $transformvalue != none{
        transform: $transformvalue;
    }
}
@mixin normalizeul{
    margin: 0;
    padding: 0; 
    list-style-type: none;
}

body{
    background-color: var(--main-bg-color);
    font-family: var(--main-font);   
}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    min-height: 100vh;
}

/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+- HEADER +-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

header{
    width: calc(100vw/13);
    height: 100vh;
    background-color: var(--nav-container-color);
    color: white;
    position: fixed;
    padding: 40px 0px 48px 0px;
    user-select: none;

    nav{
        width: 100%;
        height: 100%;
        position: relative;

        .nav_button{
            background: none;
            border: none;
            width: 100%;
            
            &:hover{
                cursor: pointer;
                .line_1{
                    left: 5px;
                }
                .line_2{
                    left: -8px;
                }
                .line_3{
                    left: 12px;
                }
            }
    
            .burger_lines{
                transform: rotate(45deg);
                font-size: remfunction(70);
                color: var(--text-color-yellow);
                line-height: 0.2;
                position: relative;
            }
            .line_1{
                left: 0px;
                transition: left 0.5s;
                @include centertext(center, center);
            }
            .line_2{
                left: 0px;
                transition: left 0.5s;
                @include centertext(center, center);
            }
            .line_3{
                left: 0px;
                transition: left 0.5s;
                @include centertext(center, center);
            }
        }
        

        h1{
            @include centralizer;
            text-transform: uppercase;
            font-size: var(--nav-font-size);
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }

    
}


/*
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+- PAGE CONTAINER +-+-+-+-+-+-+-+-+-+-+-+-+
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+
*/

.page_container{
    grid-column: span 11 / 13;
    padding: 0 16px 0 0;

    // ----------------1<-------------[ PAGE ONE ]------------------

    .page_one{

        .top_container, .bottom_container{
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            gap: 16px;
        }

        .top_container{
            min-height: 50vh;
            background-color: var(--page-one-container-black);

            .logo_container{
                grid-column: span 4;

                .logo{
                    text-transform: uppercase;
                    text-align: right;
                    padding: 0px 45px 0px 0px;  
                    @include centralizer;

                    .drizzle_text{
                        @include logospecs(5vh, 1.7, var(--text-color-rich-lilac), relative, 0vh, -0.6vh, -1)
                    }
                    .tahini_text{
                        @include logospecs(17vh, 0.45, var(--text-color-green), relative, 0vh, 0vh, 0)
                    }
                    .chickpeas_text{
                        @include logospecs(6.5vh, 1.1, var(--text-color-yellow), relative, 0vh, -12.5vh, -2)
                    }
                }
            }

            .text_container{
                grid-column: span 7;
                @include textspecs(var(--text-color-green), var(--page-article-font-size), 16px);
                @include centertext(center, center);
            } 

        }

        .bottom_container{
            min-height: 50vh;

            .icon_container{
                background-color: var(--page-one-container-black);
                grid-column: span 5;
                background-image: url(../assets/photos/mae-mu-hugb85v0J04-unsplash.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                
                &:hover{
                    cursor: pointer;
                    .arrow{
                        bottom: 26px;
                    }
                }

                .arrow{
                    transform: rotate(90deg);
                    position: absolute;
                    bottom: 36px;
                    left: 27px;
                    transition: bottom 0.4s;
                }

                
            }

            .text_container{
                background-color: var(--page-one-container-white);
                grid-column: span 6;
                @include textspecs(var(--text-color-rich-lilac), var(--page-article-font-size), 16px);
                .explore_menu_section{
                    text-transform: uppercase;
                    
                    a{
                        color: black;
                        text-decoration: none;
                    }
                    img{
                        display: inline-block;
                    }
                }
            }  
        }
    
    }

    // ----------------2<-------------[ PAGE TWO ]------------------

    .page_two{
        padding: 16px 0px 16px 0px;

        .top_container, .bottom_container{
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            gap: 16px;
        }
        
        .top_container{
            height: 50vh;
            margin-bottom: 16px;

            .first_menu_photo{
                @include backgroundurl(url(../assets/photos/edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 3;
            }
            .second_menu_photo{
                @include backgroundurl(url(../assets/photos/kao-rodriguez-IeTzHiuepmU-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 4;
            }
            .third_menu_photo{
                @include backgroundurl(url(../assets/photos/mor-shani-kQloRmVQYIs-unsplash.jpg), cover, no-repeat, center center);
                grid-column: span 4;
            }
        }

        .bottom_container{
            min-height: 50vh;

            .menu_list{
                margin: 0;
                padding: 0; 
                list-style-type: none;
                grid-column: span 11;

                .menu_list_block{
                    @include websitegrip(repeat(11, 1fr), 16px);
                    padding: 8px;
                    background-color: white;
                    border-bottom: remfunction(3) solid black;
                    border-top: remfunction(3) solid black;
                    margin: 0 0 10px 0;


                    .menu_list_item_name{
                        grid-column: span 4;
                        font-size: var(--menu-list-name-price-font-size);
                        text-transform: uppercase;
                        @include centertext(none, center);
                        
                        .label_box_content_new{
                            @include labelbox(var(--menu-label-color-rich-lilac), inline-flex, rotate(4deg), 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_new{
                                @include labeltext(var(--menu-label-font-size), rotate(354deg));
                                @include centertext(center, none);
                                width: 100%;  
                           }
                        }

                        .label_box_content_vegan{
                            @include labelbox(var(--menu-label-color-green), inline-flex, rotate(355deg), 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_vegan{
                                @include labeltext(var(--menu-label-font-size), rotate(3deg));
                                @include centertext(center, none);
                                width: 100%;   
                           }
                        }

                        .label_box_content_popular{
                            @include labelbox(var(--menu-label-color-yellow), inline-flex, none, 0 0 0 10px);
                            font-family: var(--secondary-font);

                            .label_text_content_popular{
                                @include labeltext(var(--menu-label-font-size), none);
                                @include centertext(center, none);
                                width: 100%;    
                           }
                        }
                    }

                    .menu_list_item_desc{
                        font-family: var(--secondary-font);
                        font-size: var(--menu-list-desc-font-size);
                        grid-column: span 6;
                        @include centertext(none, center);
                    }

                    .menu_list_item_price{
                        grid-column: span 1;
                        font-size: var(--menu-list-name-price-font-size);
                        text-align: right;
                    }
                }
            }
        }
    }
}


footer{
    @include websitegrip(repeat(12, 1fr), 16px);
    min-height: 100vh;
    background-color: white;

    .container{
        grid-column: span 11 / 13;
        background-color: var(--footer-color-green);

        @include websitegrip(repeat(11, 1fr), 16px);

        .left_container{
            grid-column: span 5;
            @include centertext(center, center);

            .book_table_container{
                width: 42vw;
                height: 75vh;

                ul{
                    @include normalizeul;
                    margin: 0 0 0 16px;
                    padding: 0 remfunction(51) 0 0;

                    li{
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 remfunction(35) 0;

                        .head_title{
                            font-size: var(--footer-title-font-size);
                            font-weight: normal;
                            text-transform: uppercase;
                        }

                        .title_container{
                            width: 32%;
                            font-size: var(--footer-contact-info-text-font-size);
                            text-transform: uppercase;
                        }

                        .input_container{
                            width: 90%;
                            border: none;
                            border-radius: remfunction(16);
                            padding: 0 remfunction(16) 0 remfunction(16);

                            &:focus{
                                outline: none;
                            }
                        }

                        .dropdown_icon{
                            appearance: none;
                            background-image: url(../assets/icons/dropdown_icon.svg);
                            background-repeat: no-repeat;
                            background-position: right 1rem center;
                            background-size: 1.2em;
                        }

                        .cancel_button, .request_button{
                            width: 50%;
                            border: none;
                            border-radius: remfunction(16);
                            text-transform: uppercase;
                            font-size: var(--footer-contact-info-text-font-size);
                            cursor: pointer;
                        }

                        .cancel_button{
                            background-color: var(--footer-cancel-button-color);
                            margin: 0 16px 0 0;
                        }
                        .request_button{
                            background-color: var(--footer-request-button-color);
                        }

                    }
                }

            }
        }
        .right_container{
            grid-column: span 6;
            @include centertext(center, center);

            .contact_info{
                width: 42vw;
                height: 75vh;
                position: relative;
                
                .background_image{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    @include backgroundurl(url('../assets/photos/ronan-kruithof-PCE0T5i4pDI-unsplash.jpg'), cover, no-repeat, center center);
                    filter: blur(3px);
                }

                .info{
                    width: 100%;
                    height: 100%;
                    @include centralizer;
                    @include centertext(center, center);
                    // padding: 3vh; 
                    
                    ul{
                        @include normalizeul;

                        li{
                            color: var(--footer-contact-info-text-color); 
                            filter: drop-shadow(-4px -1px 0px #000000);
                            display: inline-block;
                            width: 100%;
                            margin: 0 0 29px 0;
                            @include centertext(none, center);

                            .info_icon{
                                font-size: var(--footer-contact-info-icons-size);
                                display: inline-block;
                                margin: 0 10px 0 0;
                            }

                            .text{
                                font-size: var(--footer-contact-info-text-font-size)
                            }
                        }
                    }
                }
            }
        }
    }

}

