@import 'root';
@import 'functions';
@import 'mixins';

body{
    background-color: var(--main-bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

