:root {
    --main-font: 'Jockey One', 'Roboto Condensed', sans-serif;
    --secondary-font: 'Roboto Condensed', serif;
    --cookie-z-index: 5;
    --header-z-index: 4;
    --nav-z-index: 3;
    --main-content-z-index: 2;
    --logo-extra-z-index: 1;
    --main-bg-color: #FFF136;
    --header-container-color: black;
    --header-business-name-font-size: 5vh;
    --header-burger-color: #FFF136;
    --nav-background-color: #b46be2;
    --nav-font-size: 9vh;
    --nav-text-color: white;
    --page-one-container-black: black;
    --page-one-container-white: white;
    --page-article-font-size: 2.5rem;
    --text-color-green: #00ff38;
    --text-color-rich-lilac : #b46be2;
    --text-color-yellow: #FFF136;
    --menu-list-name-price-font-size: 3rem;
    --menu-list-desc-font-size: 1.5rem; 
    --menu-label-font-size: 1rem;
    --menu-label-color-green: #00ff38;
    --menu-label-color-rich-lilac : #b46be2;
    --menu-label-color-yellow: #FFF136;
    --footer-color-green: #00ff38;
    --footer-title-font-size: 4.5rem;
    --footer-under-text-font-size: 2.3rem;
    --footer-cancel-button-color: #b46be2;
    --footer-request-button-color: #FFF136;
    --footer-contact-info-icons-size: 4.5vw;
    --footer-contact-info-text-font-size: 2.2vw;
    --footer-contact-info-text-color: #3cc1ee;
    --cookie-container-color: #b46be2;
    --cookie-content-size: 1.5rem;
    --cookie-content-color: white;
    --cookie-button-text-size: 2.3rem;
    --cookie-decline-color: #00ff38;
    --cookie-accept-color: #FFF136;
}